: root{
    --background:#E0FAFA;
    --highlight:grey;
    --line:grey;
}

@font-face {
    font-family:'Fredoka One'
    src: url(/fonts//fonts/FredokaOne-Regular.ttf);
}

body{
    background: var(--background);
    }

p{
    margin: 0px
}


a{
    color:#000000;
    text-decoration: none;
}

.homebox {
    position:relative;
    border: 1px;
    border-style: solid;
    border-color: var(--line);
    background:var(--background);
    width:420px;
    height:280px;
    margin-top: 75px;
    margin-left:75px;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
}

.header{
    z-index:1;
    margin-top:15px;
    margin-bottom:0px;
    margin-right:15px;
    margin-left:15px;
    display:flex;
    justify-content:space-between;
    position:sticky;
    background:var(--background);
    top:0;
}

.title{
    color:#000000;
    font-family:Fredoka One;
    font-size:18pt;
    font-weight:bold;
    margin:0px;
}

.main{
    color:#000000;
    font-family:Lato;
    font-size:14pt;
    font-style:Light;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0px;
    margin-botton:0px;
    margin-left:15px;
    margin-right:15px;
}
