: root{
    --background:#E0FAFA;
    --highlight:grey;
    --line:grey;
}

@font-face {
    font-family:'Fredoka One'
    src: url(/fonts//fonts/FredokaOne-Regular.ttf);
}

body{
    background: var(--background);
    }

.header{
    color:#000000;
    font-size:16pt;
    font-weight:bold;
}

.main{
    color:#000000;
    font-size:14pt;
    font-weight:light 300;
    padding-top:10px;
    padding-bottom:10px;
    margin:0; 
}


a{
    color:#000000;
    text-decoration: none;
}
