: root{
    --background:#E0FAFA;
    --highlight:grey;
    --line:grey;
}

body{
    background-size:70px 70px;
    background-image:linear-gradient(to right, var(--line) 1px, transparent 1px), linear-gradient(to bottom, var(--line) 1px, transparent 1px);
    margin:0px;
    max-height:100vh;
    min-width:1500px;
    }
